n8n/Expense Analytics & Budget Monitoring.json
{
  "name": "Expense Analytics & Budget Monitoring",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -416
      ],
      "id": "eeecfa07-1f42-4c0b-9366-bf4707a5ebcd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "129-OyyE1OJp8wcqr4ZFAv-F0ghu6p7V_fX7QqsZUzUw",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129-OyyE1OJp8wcqr4ZFAv-F0ghu6p7V_fX7QqsZUzUw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129-OyyE1OJp8wcqr4ZFAv-F0ghu6p7V_fX7QqsZUzUw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        -224
      ],
      "id": "57aa74e3-1d03-4005-8510-189f69e0af7c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bHqMaOcETglcgqRf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let total = 0;\n\nfor (const item of items) {\n  total += Number(item.json.amount);\n}\n\nreturn [\n  {\n    json: {\n      total_expense: total\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -32
      ],
      "id": "4cdc88d0-52fd-4ac7-9402-c85b9c52dd92",
      "name": "Total_Expense"
    },
    {
      "parameters": {
        "jsCode": "const result = {};\n\nfor (const item of items) {\n  const category = item.json.category;\n  const amount = Number(item.json.amount);\n\n  if (!result[category]) {\n    result[category] = 0;\n  }\n\n  result[category] += amount;\n}\n\nreturn Object.keys(result).map(cat => ({\n  json: {\n    category: cat,\n    total_amount: result[cat]\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -224
      ],
      "id": "79cce912-b5dc-4eda-b916-976d499c0780",
      "name": "CATEGORY-WISE EXPENSE"
    },
    {
      "parameters": {
        "jsCode": "const result = {};\n\nfor (const item of items) {\n  const month = item.json.month;\n  const amount = Number(item.json.amount);\n\n  if (!result[month]) {\n    result[month] = 0;\n  }\n\n  result[month] += amount;\n}\n\nreturn Object.keys(result).map(m => ({\n  json: {\n    month: m,\n    total_amount: result[m]\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -416
      ],
      "id": "883d229d-ad46-43dc-8b40-999ac02cd741",
      "name": "MONTHLY TOTAL"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "129-OyyE1OJp8wcqr4ZFAv-F0ghu6p7V_fX7QqsZUzUw",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129-OyyE1OJp8wcqr4ZFAv-F0ghu6p7V_fX7QqsZUzUw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 71018875,
          "mode": "list",
          "cachedResultName": "monthly_budget",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129-OyyE1OJp8wcqr4ZFAv-F0ghu6p7V_fX7QqsZUzUw/edit#gid=71018875"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        -608
      ],
      "id": "f3c00a97-aff2-456c-a8a9-ffb99fca9886",
      "name": "Monthly_Budget",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bHqMaOcETglcgqRf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const actual = Number($json.total_amount);\nconst budget = Number($json.budget_amount || 0);\nconst diff = actual - budget;\n\nreturn {\n  category: $json.category,\n  actual_spent: actual,\n  budget_amount: budget,\n  difference: diff,\n  status: diff > 0 ? \"OVER BUDGET\" : \"WITHIN BUDGET\"\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -416
      ],
      "id": "db036775-cc75-47f6-9bc2-c29531668bde",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "category",
              "field2": "category"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        -416
      ],
      "id": "444fc0eb-b9f7-494b-b098-a0f64728b697",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "129-OyyE1OJp8wcqr4ZFAv-F0ghu6p7V_fX7QqsZUzUw",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129-OyyE1OJp8wcqr4ZFAv-F0ghu6p7V_fX7QqsZUzUw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 649546237,
          "mode": "list",
          "cachedResultName": "budget_analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/129-OyyE1OJp8wcqr4ZFAv-F0ghu6p7V_fX7QqsZUzUw/edit#gid=649546237"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "category ": "={{ $json.category }}",
            "actual_spent ": "={{ $json.actual_spent }}",
            "budget_amount": "={{ $json.budget_amount }}",
            "difference ": "={{ $json.difference }}",
            " status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "category ",
              "displayName": "category ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "actual_spent ",
              "displayName": "actual_spent ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "budget_amount",
              "displayName": "budget_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "difference ",
              "displayName": "difference ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": " status",
              "displayName": " status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        -416
      ],
      "id": "fae737d2-5d8d-4845-aab8-e16ce7f5a9a2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bHqMaOcETglcgqRf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "77a8086e-4e55-4c43-8c21-9adcaace27af",
              "leftValue": "={{ $json[\" status\"] }}",
              "rightValue": "=OVER BUDGET",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        -416
      ],
      "id": "b9818b90-c2bc-42f3-a466-9892b9076247",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "sanjanavignesh1812@gmail.com",
        "subject": "=🚨 Budget Alert:{{ $json[\"category \"] }}  Over Budget",
        "message": "=Category: {{ $json[\"category \"] }}: Budget Amount: ₹{{$json.budget_amount}} Actual Spent: ₹{{ $json[\"actual_spent \"] }}  Exceeded By: ₹{{ $json[\"difference \"] }}  Please review your expenses.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1472,
        -432
      ],
      "id": "ebeeafbb-97c4-46ff-9704-b1931ba4c8de",
      "name": "Send a message",
      "webhookId": "3ffe3fb7-ec49-4590-9575-3f03565513ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "CM00JuvNYGiTrxUr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  today: new Date().toISOString().split(\"T\")[0]\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -432
      ],
      "id": "fa3574e5-d355-4436-80f1-dcdc34c84815",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Monthly_Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "CATEGORY-WISE EXPENSE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Total_Expense",
            "type": "main",
            "index": 0
          },
          {
            "node": "MONTHLY TOTAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CATEGORY-WISE EXPENSE": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Total_Expense": {
      "main": [
        []
      ]
    },
    "Monthly_Budget": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9694293c-b539-437d-beda-1f401d17b1fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b78b24af8ed19da7997bf3b51790aeabc68d2132720e6b66e97743e10df00ce8"
  },
  "id": "CxhlEevUd1pNGCoT",
  "tags": []
}